#root {
    margin: 0;       
    padding: 0;     
    display: flex;
    justify-content: center;    
    align-items: center; 
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade-down {
    animation: fade-down 0.5s;
}